{% extends 'todo/footer.html' %}
{% block main_content %}
<div class="container" id="content">
    <h2 class="h3 text-primary">Отзывы наших клиентов</h2>
    
    <div class="row row-cols-1 g-5 p-3">
        {% for com in comments %}
        <div class="card col mb-4">
            <small class="text-primary" style="font-weight: 100 ;">{{ com.created_at }}</small>
            <div class="card-body">
                <h5 class="card-title">{{ com.name }}</h5>
                <p class="card-text">{{ com.comment }}</p>
                {% if user.is_authenticated %}
                <a href="/update_comment/{{ com.id }}" class="btn btn-primary btn-sm">редактировать</a>
                {% endif %}
            </div>
        </div>
        
        {% endfor %}
        <a href="/add_comment" class="btn btn-secondary">Добавить отзыв</a>
    </div>
</div>
{% endblock main_content %}

<div>

    <h2></h2>
    <p>{{ com.created_at }}</p>
    <p></p>

</div>