<h4 class="text-primary display-6"><span class="text-secondary">КУХНИ</span>, В КОТОРЫЕ ХОЧЕТСЯ ВОЗВРАЩАТЬСЯ</h4>
<h6>Создаем функциональные и стильные кухни с продуманной эргономикой и индивидуальным дизайном.</h6>
    <p>Используем
    качественные
    материалы: устойчивые к влаге столешницы, прочные фасады и фурнитуру премиум-класса. Ваша кухня будет не
    только
    красивой, но и долговечной.</p>
<ul class="text-primary">
    <li>Индивидуальные размеры и планировка</li>
    <li>Широкий выбор материалов и цветов</li>
    <li>Встроенная техника и умные системы хранения</li>
</ul>