<h4 class="text-primary display-6"><span class="text-secondary">ШКАФЫ-КУПЕ</span>&nbsp;И ГАРДЕРОБНЫЕ</h4>
<h6>Порядок начинается с правильного хранения</h6>
<p>Изготавливаем вместительные шкафы-купе и гардеробные системы, которые экономят пространство и сохраняют вещи в
    идеальном
    состоянии. Учитываем каждую деталь: от выдвижных ящиков до подсветки.</p>
<ul class="text-primary">
    <li>Оптимальное использование пространства</li>
    <li>Выбор дверей (зеркала, стекло, ЛДСП, ротанг)</li>
    <li>Дополнительные опции: брючницы, обувницы, аксессуары</li>
</ul>