@import url("https://fonts.googleapis.com/css?family=Montserrat");

.zoom {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 0.5s
}

.zoom:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(127, 127, 127, 0.5);
    /* transform: scale(1.05); */
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition-duration: 0.5s
}

p {
    /* text-indent: 1.5rem; */
    text-align: justify;
}

#to_top {
    position: fixed;
    bottom: 1rem;
    right: 0;
    padding: 1rem;
}

header {
  z-index: 100;
}

/* ----------SELECTION------------ */
*::selection {
  background-color: var(--primary);
  color: #ffffff;
}

*::-moz-selection {
  background-color: var(--primary);
  color: #ffffff;
}

*::-webkit-selection {
  background-color: var(--primary);
  color: #ffffff;
}

.post_images {
  cursor: pointer;
  width: 15%;
  margin: 0.1rem;
}

@media (max-width: 767.98px) {
  .post_images {
    cursor: pointer;
    width: 30%;
    margin: 0.1rem;
  }
}
.assa {
  height: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 110% auto;
}

.foo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(120, 194, 173, .5);
}

.navbar-toggler{
  padding: 10px;
}
.navbar-toggler-icon {
  width: 1.5em;
}