@import url("https://fonts.googleapis.com/css?family=Montserrat");

.zoom {
  transition: all .5s;
  z-index: 1;
}

.zoom:hover {
  cursor: pointer;
  transition: all .5s;
  z-index: 99;
}

.card.zoom,
.zoom img {
  box-shadow: 1px 1px 20px rgba(15, 63, 49, 0);
  ;
  transition: all .5s;
  scale: 1;
}

.zoom:hover img {
  cursor: zoom-in;
  box-shadow: 1px 1px 20px rgba(68, 77, 75, 0.33);
  ;
  transition: all .5s;
  scale: 1.05;
}

p,
h2 {
  text-indent: 1.5rem;
  /* text-align: justify; */
  padding-bottom: .5rem;
}

#to_top {
  position: fixed;
  bottom: 1rem;
  right: 0;
  padding: 1rem;
}

header {
  z-index: 100;
}

/* ----------SELECTION------------ */
*::selection {
  background-color: var(--primary);
  color: #ffffff;
}

*::-moz-selection {
  background-color: var(--primary);
  color: #ffffff;
}

*::selection {
  background-color: var(--primary);
  color: #ffffff;
}

.post_images {
  cursor: pointer;
  width: 15%;
  margin: 0.1rem;
}

@media (max-width: 767.98px) {
  .post_images {
    cursor: pointer;
    width: 30%;
    margin: 0.1rem;
  }
}

.assa {
  height: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

.assa:hover {
  height: 10rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 110% auto;
}

.foo {
  width: 100%;
  position: absolute;
  bottom: -3rem;
  left: 0;
  background-color: var(--primary-75);
  transition: all ease .5s;
}

.assa:hover .foo {

  bottom: 0;
  left: 0;
  background-color: var(--primary-75);
}

.top {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  background-color: var(--primary-75);
}

.navbar-toggler {
  padding: 7px;
}

.navbar-toggler.btn {
  margin-left: 1rem;
}

.navbar-toggler-icon {
  width: 1.5em;
}


.img_delition {
  position: relative;
  display: inline-block;
}

.img_delition img {
  display: block;
}

.img_delition button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img_delition:hover button {
  opacity: 1;
}

.navbar .nav-item {
  scale: 1;
  transition: all .33s;
  transition-property: all .3s;
}

.navbar .nav-item:hover {
  scale: 1.05;
}