.img-thumbnail,
.navbar .btn {
    transition: all .1s ease-in-out;
}

.navbar .btn:hover {
    box-shadow: 0px 4px 8px rgba(20, 84, 66, 0.33);
    transform: scale(1.05);
}
.img-thumbnail:hover{
    box-shadow: 0px 4px 8px rgba(20, 84, 66, 0.33);
    transform: scale(1.01);
}

.glightbox:hover{
    cursor: zoom-in;
}