{% extends 'todo/base/base.html' %}
{% block main_content %}
<div class="container mb-5 p-3 px-5 rounded bg-white rounded shadow-sm">

    <h1 class="text-secondary h4">#{{ project.id }} - {{ project.title}} </h1>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div class="mb-3">
            <input class="" type="checkbox" name="public" id="id_public" checked="">
            <label for="id_public">Опубликован:</label>
        </div>
        <div class="mb-3">
            <label for="id_title">Заголовок:</label>
            <input class="form-control" type="text" name="title" maxlength="100" required="" id="id_title"
                value="{{ form.title.value }}">
        </div>
        <div class="mb-3">
            <label for="id_description">Описание:</label>
            <textarea class="form-control" name="description" cols="40" rows="2"
                id="id_description">{{ form.description.value }}</textarea>
        </div>
        <div class="mb-3">
            <label for="id_tags">#Тэги:</label>
            <input class="form-control" type="text" name="tags" maxlength="100" id="id_tags"
                value="{{ form.tags.value }}">
        </div>
        <div class="mb-3">
            <label for="id_rating">Рейтинг (чем больше тем выше в выдаче):</label>
            <input class="form-control" type="number" name="rating" id="id_rating" value="{{ form.rating.value }}">
        </div>
        <div class="mb-3 border p-3">
            <h5 class="form-label">Фото Альбом</h5>
            <input class="form-control" type="file" name="image" multiple="" accept="image/*" id="id_image">
            <div class="m-2 primary">
                <div class="ww_grid mb-4">
                    {% for img in album %}
                    <a href="/media/photos/{{ project.id }}/{{ img }}.jpg" class="glightbox">
                        <div class="ww_grid_item rounded overflow-hidden"
                            style="background-image: url('/media/photos/{{ project.id }}/{{ img }}.thumbnail'); height: 10rem;">
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="btn-group text-white">
            <input class="btn btn-primary text-white" type="submit" name="" value="Схранить проект">
            <a href="/" class="btn btn-warning text-white">Отмена</a>
            <a href="{% url 'post_delete' project.id %}" class="btn btn-secondary text-white">Удалить</a>
        </div>
    </form>

</div>
{% endblock main_content %}