{% extends 'todo/base/base.html' %}
{% block main_content %}
<div class="container" id="content">
    <h2 class="display-6 text-primary">ОТЗЫВЫ НАШИХ<span class="text-secondary">&nbsp;КЛИЕНТОВ</span></h2>
    <h4><strong class="text-secondary">Наша репутация —</strong>&nbsp;<strong class="text-primary"> ваша
            уверенность</strong></h4>
    <p>Для нас важно не просто сделать мебель, а создать доверительные отношения с каждым клиентом. Мы ценим ваши отзывы
        — они помогают нам становиться лучше.</p>
    <p><strong>Более 200 довольных семей</strong> уже обустроили свои дома с нашей мебелью. Присоединяйтесь!</p>

    <iframe
        style="width: 100%; max-width: 760px; height: 1024px; border-radius:.5rem"
        src="https://yandex.ru/maps-reviews-widget/14645750242?comments">
    </iframe>
</div>
{% endblock main_content %}