{% extends 'todo/footer.html' %}
{% load crispy_forms_tags %}

{% block main_content %}

<div class="container">
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        <h1>Оставьте ваш комментарий</h1>
        {{ CommentForm|crispy }}
        <div class="d-grid gap-2">
            <a href="/" class="btn btn-primary">Отмена</a>
            <input type="submit" name="" value="Схранить комментарий" class="btn btn-secondary">
        </div>
    </form>
    {{ req.POST }}
</div>
{% endblock main_content %}