{% extends 'todo/footer.html' %}

{% block main_content %}
<br>

<div class="container" id="content">
    <ul>
        <li>Благодаря собственному производству мебели и работой с качественным европейским материалом, мы
            производим шкафы с формой и конфигурацией под любые запросы и пожелания.</li>
        </li>
        <li>Мы предлагаем современные, стильные и эргономичные решения. Вы можете подобрать себе мебель:</li>
        </li>
        <ul>
            <li>по фасаду – стекло, зеркало, мдф и др</li>
            <li>по расположению – прихожая, гостиная, офис и т.д.</li>
            <li>по типу корпуса- встроенная, угловая, корпусная</li>
        </ul>
    </ul>


</div>
{% endblock main_content %}