{% extends 'todo/footer.html' %}

{% block main_content %}

<div class="container p-1 p-sm-2 rounded bg-white-75 shadow-sm" id="content">
    <h1 class="h3">Контактная информация:</h1>
    <div style="align-items: center;">
        <h5 style="display: inline-block; margin-right: 2rem;"><a href="tel:+79257025995"><img
                    src="/static/icons/telephone.svg" width="32" height="32" style="margin-right: 1rem ;">+7 925
                702-59-95</a></h5>
        <h5 style="display: inline-block; margin-right: 2rem;"><a href="https://t.me/+79260480480" target="_blank"><img
                    src="/static/icons/telegram.svg" width="32" height="32" style="margin-right: 1rem ;">telegram</a>
        </h5>
        <h5 style="display: inline-block; margin-right: 2rem;"><a href="https://wa.me/+79260480480?text=С сайта:"
                target="_blank"><img src="/static/icons/whatsapp_primary.svg" width="32" height="32"
                    style="margin-right: 1rem ;">whatsapp</a></h5>
        <h5 style="display: inline-block; margin-right: 2rem;"><a href="mailto:i@wwbb.ru"><img
                    src="/static/icons/envelope-check.svg" width="32" height="32"
                    style="margin-right: 1rem ;">i@wwbb.ru</a></h5>
        <h5 style="display: inline-block; margin-right: 2rem;"><a href="https://vk.com/wwbbru"><img
                    src="/static/icons/vk.svg" width="32" height="32" style="margin-right: 1rem ;">wwbbru</a></h5>
    </div>
    <!-- HELLO -->
    <Section class="p-2 rounded bg-white-75 shadow-sm">
        <div>
            <h3 class="text-primary">Давайте знакомиться. Меня зовут Павел.</h3>
            <ul>
                <li>С 2001 года мы занимаемся изготовлением и установкой мебели.</li>
                <li>С 2018 года нами было принято решение закупить станки, арендовать цех и работать на себя.</li>
            </ul>
            <p>Мы сами приезжаем на замер, сами изготавливаем на своих станках и сами приезжаем к вам на монтаж мебели.
                Благодаря этому, вы получите именно то, что вам нужно.</p>
            <p>Наша команда - это две бригады по два человека. Мы настроены на одну цель — поставить вам красивую,
                качественную и недорогую мебель. Что бы вы могли, без малейшего сомнения, рекомендовать наши услуги
                вашим друзьям и близким.</p>
        </div>
    </Section>
    <h3 class="h6">
        <address><img src="/static/icons/pin-map.svg" width="32" height="32">
            МО, ГО Балашиха,
            Полтевское шоссе, владение 4
        </address>
    </h3>
    <div>
        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9bf1bdb9e6a499cb9625fbf7a2309dc9a6f3837f7ed27e45f9d8435e09cfb7a3&amp;width=100%25&amp;height=360&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="container">
        <p>Вы можете обратиться с вопросами по проектированию, изготовлению и монтажу корпусной мебели. <br>Мы ответим
            на
            ваши вопросы, поможем определиться с материалами и дизайном вашей новой мебели.</p>
        <p>Мебель разрабатывается как индивидуально, в соответствии с пожеланиями заказчика, так и на основе уже готовых
            решений, прошедших испытания временем.</p>
        <p>В работе мы используем материалы высокого качества совместно с передовыми дизайнерскими идеями и мебельными
            технологиями.</p>
        <p>Наши специалисты любят своё дело, поэтому способны быстро и качественно спроектировать мебель для любого типа
            жилья – от малогабаритной квартиры до торгового павильона.</p>
        <p>На нашем сайте Вы найдете множество примеров наших работ по изготовлению и производству мебели.</p>
        <hr>
        <div class="row row-cols-md-4">
            {% for prj in projects %}

            <a href="/post/{{prj.id}}" style="width: 100%;">
                <div class="col">
                    <div class="card mb-1 mb-sm-4" style="  
                height: 10rem;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 110% auto;
              
                background-image: url('{{prj.thumbnail}}')">

                        <div class="text-white p-1 card-footer" style="
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(120, 194, 173, .5);
                        ">
                            <p style="margin-block-end: 0em;">{{prj.title}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock main_content %}