{% extends 'todo/base.html' %}
{% block header %}

<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <!-- Logo, Title -->
  <a class="navbar-brand" href="/">
    <img src="/static/favicon/favicon_white.svg" height="50px">
  </a>
  <p class="text-white">{{ title }}</p >

  <button class="navbar-toggler btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white m-1" href="/tag/кухня">Кухня</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white m-1" href="/tag/шкаф">Шкаф</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white m-1" href="/tag/гардероб">Гардероб</a>
      </li>
      <li class="nav-item"><a class="nav-link btn btn-secondary text-white m-1" href="/tag/ванная">Ванная</a>
      </li>
      </li>
      <!-- PHONE  -->
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white m-1" href="tel:+79257025995">
          <img src="/static/icons/telephone-outbound-fill.svg" height="20px">
          &nbsp;+79257025995
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white m-1" href="https://t.me/+79260480480" target="_blank"><img
            src="/static/icons/telegram_primary.svg">&nbsp;telegram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-secondary text-white m-1" href="https://wa.me/+79260480480?text=С сайта:"
          target="_blank"><img src="/static/icons/whatsapp.svg">&nbsp;WhatsApp</a>
      </li>

      <!-- SEARCH -->
      <li class="nav-item">
        <form class="m-1 input-group" role="search" action="/search" method="get">
          <input type="text" class="form-control" placeholder="Поиск" aria-label="Search" name="search"
            pattern="[A-Za-zА-Яа-яЁё0-9 \ ]*">
          <button class="btn" type="submit"
            style="padding: 0.5rem 1rem; background-color: white; border-bottom-left-radius: 0; border-top-left-radius: 0;"><img
              src="/static/icons/search.svg" height="20px"></button>
        </form>
      </li>
    </ul>
  </div>
</nav>
</br>
</br>
</br>

{% endblock header %}