<!DOCTYPE html>
<html lang="ru">
<head>
    <title> {{ title }} {{ project.title }}</title>
    <meta name="description" content="Сайт мебельного производства">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="92507ba5be853a66" />
    <meta name="theme-color" content="#78C2AD">
    <meta name="keywords" content="производство, корпусная, мебель, фабрика, шкаф, кухня, гардероб, цех," />
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg">
    <link rel="icon" type="image/png" href="/static/favicon/favicon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    
</head>
<body>
    
</body>
</html>