{% extends 'todo/base/base.html' %}
{% load static %}
{% block main_content %}
<main class="container">
    <!-- ITEM 1 -->
    <Section>
        <h1 class="text-primary h1">ПРОИЗВОДСТВО <span class="text-secondary">МЕБЕЛИ</span></h1>
        <!-- EXAMPLES 01-->

        <div class="row justify-content-md-center">
            {% for prj in example_01 %}
                {% include "todo/components/example.html" with prj=prj %}
            {% endfor %}
        </div>

        <h2 class="text-primary h2">Создаем мебель,<span class="text-secondary"> на ваш вкус и потребности.</span></h2>
        <h3 class="h4">Мы предлагаем полный цикл производства корпусной и встроенной мебели на заказ.</h3> 
            <p>Благодаря собственному производству и использованию качественных европейских материалов, мы создаем шкафы, которые
            соответствуют любым требованиям и пожеланиям клиентов.
            Наша компания предлагает современные, стильные и эргономичные решения. Вы можете выбрать мебель, которая
            подойдет именно вам:</p>
        <ul>
            <li>Благодаря собственному производству мебели и работой с качественным европейским материалом, мы
                производим шкафы с формой и конфигурацией под любые запросы и пожелания.</li>
            <li>Мы предлагаем современные, стильные и эргономичные решения. Вы можете подобрать себе мебель:</li>
            <ul>
                <li>По фасаду – с использованием стекла, зеркала, МДФ и других материалов.</li>
                <li>По расположению – для прихожей, гостиной, офиса и других помещений.</li>
                <li>По типу корпуса – встроенная, угловая, корпусная.</li>
            </ul>
            <li>Наши мастера готовы воплотить в жизнь ваши идеи и предоставить мебель, которая не только соответствует
                вашим потребностям, но и придает вашему интерьеру элегантность и функциональность. </li>
        </ul>
    </Section>

    <!-- ITEM 2 -->
    <Section>
        <h2>ДИЗАЙН <span>ПРОЕКТ</span></h2>
        <!-- EXAMPLES 02-->
        <div class="row justify-content-md-center">
            {% for prj in example_02 %}
            {% include "todo/components/example.html" with prj=prj %}
            {% endfor %}
        </div>
        <h3>Наше производство — <span>это безупречное качество, продуманные решения и индивидуальный подход в каждой детали.</span></h3>
        <p>Изготавливаем мебель по вашим размерам и эскизам. Наши специалисты разработают индивидуальное
            решение, уделяя внимание каждой детали для точного воплощения ваших идей.</p>
        <p>Предлагаем как готовые решения, так и разработку дизайн-проектов любой сложности. Широкий ассортимент
            и высокое качество удовлетворят даже самые взыскательные запросы.</p>
        <p>Производим все виды мебели для дома и офиса с уникальным дизайном. Наши профессионалы помогут создать
            изделия,которые идеально впишутся в ваш интерьер.</p>
        <p>Работаем с разным бюджетом, предлагая оптимальные варианты материалов и комплектаций. Гарантируем
            оперативное изготовление заказов без потери качества.</p>
    </Section>

    <!-- ITEM 3-->
    <Section>
        <h2>ДОСТАВКА <span>И СБОРКА</span></h2>
        <!-- EXAMPLES 03-->
        <div class="row justify-content-md-center">
            {% for prj in example_03 %}
                {% include "todo/components/example.html" with prj=prj %}
            {% endfor %}
        </div>
        <h3>Доверьте нам свои идеи,<span> и мы воплотим их в жизнь с точностью и заботой о комфорте.</span></h3>
        <p>Мы специализируемся на производстве мебели для гостиных и спален, кафе и ресторанов,
            кухонь и гардеробов, а также на монтаже декоративной и дизайнерской мебели.</p>
        <p>Наша компания работает без посредников, что позволяет нам дать честную цену и предоставлять гарантию
            на все конструкции.</p>
        <p>Предоставим вам полный расчет стоимости после согласования проекта, оформления договора и
            осуществления профессионального монтажа в установленные сроки. </p>
        <p>Важно отметить, что вы оплачиваете свой заказ только после того, как мы установим его для вас. Это
            гарантирует ваше полное удовлетворение результатом нашей работы.</p>
    </Section>
</main>
<!-- END OF CONTENT -->
{% endblock main_content %}