{% extends 'todo/footer.html' %}
{% load static %}
{% block main_content %}
<main class="container p-0">
    {% include "todo/image_gallery.html" %}
    <!-- ITEM 1 -->
    <Section class="p-2 p-sm-3 p-md-4 p-lg-5 bg-white-75 shadow-sm">
        <h1 class="text-primary">ПРОИЗВОДСТВО <span class="text-secondary">МЕБЕЛИ</span></h1>

   <!-- EXAMPLES 01-->
        <div class="grid-container col-44">
            {% for prj in example_01 %}
            <div class="grid_item">
                <!-- <span class="number">{{prj.id}}</span> -->
                <a href="/post/{{prj.id}}">
                    <img src="{{prj.thumbnail}}">
                </a>
                <span class="title">{{prj.title}}</span>
            </div>
            {% endfor %}
        </div>

        <div class="col-sm">
                    <h4 class="text-primary">Создаем мебель,<span class="text-secondary">идеально отражает ваш стиль и потребности.</span>
                    </h4>
            <h2 class="h5">Мы предлагаем полный цикл производства корпусной и встроенной мебели на заказ. Благодаря
                собственному производству и использованию качественных европейских материалов, мы создаем шкафы, которые
                соответствуют любым требованиям и пожеланиям клиентов.
                Наша компания предлагает современные, стильные и эргономичные решения. Вы можете выбрать мебель, которая
                подойдет именно вам:</h2>
        </div>
        <ul>
            <li>Благодаря собственному производству мебели и работой с качественным европейским материалом, мы
                производим шкафы с формой и конфигурацией под любые запросы и пожелания.</li>
            </li>
            <li>Мы предлагаем современные, стильные и эргономичные решения. Вы можете подобрать себе мебель:</li>
            </li>
            <ul>
                <li>По фасаду – с использованием стекла, зеркала, МДФ и других материалов.</li>
                <li>По расположению – для прихожей, гостиной, офиса и других помещений.</li>
                <li>По типу корпуса – встроенная, угловая, корпусная.</li>
            </ul>
            <li>Наши мастера готовы воплотить в жизнь ваши идеи и предоставить мебель, которая не только соответствует
                вашим
                потребностям, но и придает вашему интерьеру элегантность и функциональность.
            </li>
        </ul>
    </Section>

    <!-- ITEM 2 -->
    <Section class="p-2 p-sm-3 p-md-4 p-lg-5 bg-white-75 shadow-sm">
        <div class="col-sm">
            <h1 class="text-primary h3">ДИЗАЙН <span class="text-secondary">ПРОЕКТ</span></h1>
            <!-- EXAMPLES 02-->
            <div class="grid-container col-44">
                {% for prj in example_02 %}
                <div class="grid_item">
                    <!-- <span class="number">{{prj.id}}</span> -->
                    <a href="/post/{{prj.id}}">
                        <img src="{{prj.thumbnail}}">
                    </a>
                    <span class="title">{{prj.title}}</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
                    <h4 class="text-secondary">Наше производство — <span class="text-primary">это безупречное качество,
                            продуманные решения и индивидуальный подход в каждой детали.</span></h4>
            <div class="col-lg-3">
                <p>Изготавливаем мебель по вашим размерам и эскизам. Наши специалисты разработают индивидуальное
                    решение, уделяя
                    внимание каждой детали для точного воплощения ваших идей.</p>
            </div>
            <div class="col-lg-3">
                <p>Предлагаем как готовые решения, так и разработку дизайн-проектов любой сложности. Широкий ассортимент
                    и высокое
                    качество удовлетворят даже самые взыскательные запросы.</p>
            </div>
            <div class="col-lg-3">
                <p>Производим все виды мебели для дома и офиса с уникальным дизайном. Наши профессионалы помогут создать
                    изделия,
                    которые идеально впишутся в ваш интерьер.</p>
            </div>
            <div class="col-lg-3">
                <p>Работаем с разным бюджетом, предлагая оптимальные варианты материалов и комплектаций. Гарантируем
                    оперативное
                    изготовление заказов без потери качества.</p>
            </div>
        </div>
    </Section>

    <!-- ITEM 3-->
    <Section class="p-2 p-sm-3 p-md-4 p-lg-5 bg-white-75 shadow-sm">
        <h1 class="text-primary h3">ДОСТАВКА <span class="text-secondary">И СБОРКА</span></h1>
        <!-- EXAMPLES 03-->
        <div class="grid-container col-44">
            {% for prj in example_03 %}
            <div class="grid_item">
                <!-- <span class="number">{{prj.id}}</span> -->
                <a href="/post/{{prj.id}}">
                    <img src="{{prj.thumbnail}}">
                </a>
                <span class="title">{{prj.title}}</span>
            </div>
            {% endfor %}
        </div>


        <div class="row">
                    <h4 class="text-primary">Доверьте нам свои идеи,<span class="text-secondary"> и мы воплотим их в
                            жизнь с точностью и заботой о комфорте.</span></h4>
            <div class="col-lg-3">
                <p>Мы специализируемся на производстве мебели для гостиных и спален, кафе и ресторанов,
                    кухонь и
                    гардеробов, а также на монтаже декоративной и дизайнерской мебели.
            </div>
            </p>
            <div class="col-lg-3">
                <p>Наша компания работает без посредников, что позволяет нам дать честную цену и предоставлять гарантию
                    на все конструкции.
                </p>
            </div>
            <div class="col-lg-3">
                <p>Предоставим вам полный расчет стоимости после согласования проекта, оформления договора и
                    осуществления профессионального монтажа в установленные сроки. </p>
            </div>
            <div class="col-lg-3">
                <p>Важно отметить, что вы оплачиваете свой заказ только после того, как мы установим его для вас. Это
                    гарантирует ваше полное удовлетворение результатом нашей работы.</p>
            </div>
        </div>
    </Section>

</main>
<!-- END OF CONTENT -->
{% endblock main_content %}