{% extends 'todo/footer.html' %}

{% block main_content %}
<main class="container">
    <!-- ITEM 1 -->
    <Section class="p-2 rounded bg-white-75 shadow-sm">
        <div class="col-sm">
            <h1 class="text-primary h3">ПРОИЗВОДСТВО <span class="text-secondary">МЕБЕЛИ</span></h1>
            <h2 class="h5">Мы предлагаем полный цикл производства корпусной и встроенной мебели на заказ. Благодаря
                собственному производству и использованию качественных европейских материалов, мы создаем шкафы, которые
                соответствуют любым требованиям и пожеланиям клиентов.
                Наша компания предлагает современные, стильные и эргономичные решения. Вы можете выбрать мебель, которая
                подойдет именно вам:</h2>
        </div>
        <ul>
            <li>Благодаря собственному производству мебели и работой с качественным европейским материалом, мы
                производим шкафы с формой и конфигурацией под любые запросы и пожелания.</li>
            </li>
            <li>Мы предлагаем современные, стильные и эргономичные решения. Вы можете подобрать себе мебель:</li>
            </li>
            <ul>
                <li>По фасаду – с использованием стекла, зеркала, МДФ и других материалов.</li>
                <li>По расположению – для прихожей, гостиной, офиса и других помещений.</li>
                <li>По типу корпуса – встроенная, угловая, корпусная.</li>
            </ul>
            <li>Наши мастера готовы воплотить в жизнь ваши идеи и предоставить мебель, которая не только соответствует
                вашим
                потребностям, но и придает вашему интерьеру элегантность и функциональность.
            </li>
        </ul>
    </Section>

    <!-- EXAMPLES 01-->
    <div class="p-1 bg-white-75 rounded row row-cols-2 row-cols-sm-4">
        {% for prj in example_01 %}
        <a href="/post/{{prj.id}}" style="width: 100%;">
            <div class="col">
                <div class=" card my-2 assa zoom" style="  
                background-image: url('{{prj.thumbnail}}')">
                    <div class="text-white p-1 card-footer foo">
                        <p style="margin-block-end: 0em;">{{prj.title}}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- ITEM 2 -->

    <Section class="p-2 rounded bg-white-75">
        <div class="col-sm">
            <h1 class="text-primary h3">РАЗРАБОТКА <span class="text-secondary">ПРОЕКТА</span></h1>
            <h2 class="h5">Мы предлагаем изготовление мебели на заказ с учетом индивидуальных размеров и на основе
                вашего проекта, эскиза или рисунка. Наша команда опытных специалистов разработает уникальное решение,
                полностью соответствующее вашим требованиям и предпочтениям. Мы гарантируем высокое качество работы и
                внимательное отношение к каждой детали, чтобы создать мебель, которая воплотит ваши мечты в реальность.
            </h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <p>У нас вы можете приобрести не только готовую продукцию, но и заказать разработку оригинального
                    дизайн-проекта любой сложности. Наша компания гарантирует широкий выбор мебели высокого качества,
                    которая удовлетворит самые требовательные вкусы. Мы готовы воплотить в жизнь ваши идеи и создать
                    уникальное пространство, отражающее ваш стиль и предпочтения.</p>
            </div>
            <div class="col-lg-4">
                <p>Наша компания предлагает мебель всех типов для дома и офиса, которая отличается высоким качеством и
                    уникальным дизайном. Наша команда профессионалов поможет вам создать мебель, которая идеально
                    подойдет для вашего интерьера и отразит вашу индивидуальность.</p>
            </div>
            <div class="col-lg-4">
                <p>Мы учитываем не только ваши предпочтения в дизайне, но и ваш бюджет. Предлагаем широкий выбор
                    качественных материалов, обширную цветовую гамму и многочисленные варианты комплектаций, доступные
                    по оптимальной цене. Мы гарантируем оперативное выполнение заказа, чтобы вы могли наслаждаться вашей
                    новой мебелью в кратчайшие сроки.</p>
            </div>
        </div>
    </Section>

    <!-- EXAMPLES 02-->
    <div class="p-1 rounded row row-cols-2 row-cols-sm-4">
        {% for prj in example_02 %}

        <a href="/post/{{prj.id}}" style="width: 100%;">
            <div class="col">
                <div class="card my-2 assa zoom" style="  
                background-image: url('{{prj.thumbnail}}')">
                    <div class="text-white p-1 card-footer foo">
                        <p style="margin-block-end: 0em;">{{prj.title}}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- ITEM 3-->
    <Section class="p-2 rounded bg-white-75 shadow-sm">
        <div class="col-sm">
            <h1 class="text-primary h3">ДОСТАВКА <span class="text-secondary">И СОБОРКА</span></h1>
            <h2 class="h5">Мы специализируемся на производстве мебели для гостиных и спален, кафе и ресторанов, кухонь и
                гардеробов, а также на монтаже декоративной и дизайнерской мебели.</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Наша компания работает без посредников, что позволяет нам предоставлять гарантию на все конструкции.
                </p>
            </div>
            <div class="col-lg-4">
                <p>Мы готовы предоставить вам полный расчет стоимости после согласования проекта, оформления договора и
                    осуществления профессионального монтажа в точно установленные сроки. </p>
            </div>
            <div class="col-lg-4">
                <p>Важно отметить, что вы оплачиваете свой заказ только после того, как мы установим его для вас. Это
                    гарантирует ваше полное удовлетворение результатом нашей работы.</p>
            </div>
            <hr>
            <div class="col">
                <h5 class="text-primary h3">Мы готовы предложить вам высокое качество, надежность и профессионализм в
                    каждом аспекте нашей
                    работы, чтобы создать мебель, которая превзойдет ваши ожидания.</h5>
            </div>
        </div>
    </Section>

    <!-- EXAMPLES 03-->
    <div class="rounded row row-cols-2 row-cols-sm-4">
        {% for prj in example_03 %}

        <a href="/post/{{prj.id}}" style="width: 100%;">
            <div class="col">
                <div class="card mb-2 assa zoom" style="background-image: url('{{prj.thumbnail}}')">
                    <div class="text-white p-1 card-footer foo">
                        <p style="margin-block-end: 0em;">{{prj.title}}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>


</main>

<!-- END OF CONTENT -->

{% endblock main_content %}