{% extends 'todo/footer.html' %}

{% block main_content %}
<br>
<div class="container" id="content">
        <p class = "h4">Мы работаем без посредников, на все конструкции предоставляем гарантию.</p>
        <p class = "h4">Подготовка полного расчета стоимости после согласования проекта, оформление договора и
            профессиональный монтаж в точно установленные сроки.</p>
        <p class = "h4">Вы оплачиваете свой заказ только после того, как мы вам его установим. </p>
</div>
{% endblock main_content %}