{% extends 'todo/base.html' %}

{% block main_content %}

<div class="parallax">
    <div class="parallax__group ">
        <div class="parallax__layer parallax__layer--back">
            <img src="/static/img/1225.jpg" alt="">
        </div>
        <div class="container parallax__layer parallax__layer--base">
            <div class="p-2 m-1 p-sm-2 m-sm-1 p-lg-5 m-lg-5">

                <h1 class="h4-sm h1-lg">РАЗРАБОТАЕМ ПРОЕКТ</h1>
                <h2>Изготовим мебель на заказ по индивидуальным размерам, по вашему проекту, эскизу или рисунку.</h2>
                <ul>
                    <li>Наша компания предлагает мебель всех типов для дома и офиса. У нас вы можете заказать не только
                        готовую продукцию, но и заказать разработку оригинального дизайн-проекта любой сложности.</li>
                    <li>Наш специалист приедет в удобное для вас время, сделает необходимые замеры, проконсультирует и
                        подскажет как довести ваш дизайн до совершенства.</li>
                    <li>Учитываем не только предпочтения по дизайну, но и ваш бюджет. Качественные материалы, большая
                        цветовая гамма и многочисленные комплектации по оптимальной цене в кратчайшие сроки.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="p-2 m-1 p-sm-2 m-sm-1 p-lg-5 m-lg-5">

                <h1 class="h4-sm h1-lg">РАЗРАБОТАЕМ ПРОЕКТ</h1>
                <h2>Изготовим мебель на заказ по индивидуальным размерам, по вашему проекту, эскизу или рисунку.</h2>
                <ul>
                    <li>Наша компания предлагает мебель всех типов для дома и офиса. У нас вы можете заказать не только
                        готовую продукцию, но и заказать разработку оригинального дизайн-проекта любой сложности.</li>
                    <li>Наш специалист приедет в удобное для вас время, сделает необходимые замеры, проконсультирует и
                        подскажет как довести ваш дизайн до совершенства.</li>
                    <li>Учитываем не только предпочтения по дизайну, но и ваш бюджет. Качественные материалы, большая
                        цветовая гамма и многочисленные комплектации по оптимальной цене в кратчайшие сроки.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--back">
            <img src="/static/img/1226.jpg" alt="">
        </div>
        <div class="parallax__layer parallax__layer--base">
            <div class="p-2 m-1 p-sm-2 m-sm-1 p-lg-5 m-lg-5">

                <h1 class="h4-sm h1-lg">РАЗРАБОТАЕМ ПРОЕКТ</h1>
                <h2>Изготовим мебель на заказ по индивидуальным размерам, по вашему проекту, эскизу или рисунку.</h2>
                <ul>
                    <li>Наша компания предлагает мебель всех типов для дома и офиса. У нас вы можете заказать не только
                        готовую продукцию, но и заказать разработку оригинального дизайн-проекта любой сложности.</li>
                    <li>Наш специалист приедет в удобное для вас время, сделает необходимые замеры, проконсультирует и
                        подскажет как довести ваш дизайн до совершенства.</li>
                    <li>Учитываем не только предпочтения по дизайну, но и ваш бюджет. Качественные материалы, большая
                        цветовая гамма и многочисленные комплектации по оптимальной цене в кратчайшие сроки.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock main_content %}