{% extends 'todo/footer.html' %}
{% block main_content %}

<div class="container p-2 p-sm-5 rounded bg-white-75 shadow-sm">
    <h1 class="text-primary h3">{{ project.title }}</h1>

    <p>{{ project.description }}</p>
    <div class="row text-center">
        {% for img in album %}
        <div class="">
            <img src="/media/photos/{{ project.id }}/{{ img }}.thumbnail" alt="{{ project.title }}" class="img-fluid zoom" style="cursor: pointer;" onclick="popup('{{ img }}')">
        </div>
        {% endfor %}
    </div>

    <!-- TAGS -->
    <div class="mt-3">
        <span >теги:&nbsp;</span>
        {% for i in tags %}
        <a href="/tag/{{ i }}" class="btn btn-sm btn-outline-secondary ">{{ i }}</a>
        {% endfor %}
    </div>
    <hr>
    <div class="container">
        <div class="row justify-content-between">
            <a class="btn btn-outline-primary col col-sm-3 p-1 mx-1" href="/post/{{prev}}">&#60;&#60; назад</a>
            {% if user.is_authenticated %}
            <a class="btn btn-danger col col-sm-3 p-1 mx-1" href="/update/{{ project.id }}">изменить</a>
            {% endif %}
            <a class="btn btn-outline-primary col col-sm-3 p-1 mx-1" href="/post/{{next}}">вперёд &#62;&#62;</a>
        </div>
    </div>
</div>


<div id="lightbox" class="hidden">
    {% for img in album %}
        <img id="{{ img }}" class="transparent" src='/media/photos/{{ project.id }}/{{ img }}.jpg'>        
    {% endfor %}
    <div id="lb_nav">
        <span id="nav_prev" >&lt;</span>
        <span id="nav_close">закрыть</span>
        <span id="nav_next" >&gt;</span>
    </div>
</div>

<script src="/static/js/lightbox.js"></script>

{% endblock main_content %}
