{% extends 'todo/base/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
    <div>
        {% if header == "кухня" %}
        {% include "todo/components/kitchen.html" %}
        {% elif header == "шкаф" %}
        {% include "todo/components/locker.html" %}
        {% elif header == "ванная" %}
        {% include "todo/components/bath.html" %}
        {% endif %}
    </div>
    {% include 'todo/components/pagination.html' %}

    <div class="row">
        {% for prj in page_obj %}
        <a href="/post/{{prj.id}}" class="col-sm-3">
            <img src="{{ prj.thumbnail}}">
            <p>{{prj.title}}</p>
        </a>
        {% endfor %}
    </div>

    {% include 'todo/components/pagination.html' %}

</div>
{% endblock main_content %}