{% extends 'todo/footer.html' %}
{% block main_content %}

<div class="">

    <div class="p-1 p-sm-2 rounded bg-white-75 shadow-sm">
        <div class="">
            <h1 class="h3 text-primary">
                {% if header %}
                <button class="btn btn-secondary zoom">{{ header }}</button>
                {% endif %}
            </h1>

            {% for i in tags %}
            <a href="/tag/{{ i.slug }}" class="text-white btn-sm btn-secondary">{{ i }}</a>
            {% endfor %}

        </div>
        <div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
            {% for prj in projects %}
            
            <a href="/post/{{prj.id}}" style="width: 100%;">
                <div class="col ">
                    <div class="card mb-1 mb-sm-2 assa zoom" style=" background-image: url('{{prj.thumbnail}}')">
                        <div class="text-white p-1 card-footer foo">
                            <p style="margin-block-end: 0em;">{{prj.title}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}

        <div>
            <a href="/create" class="btn btn-danger">Добавить пост</a>

        </div>
        {% endif%}

    </div>
</div>

{% endblock main_content %}