{% extends 'todo/footer.html' %}

{% block main_content %}
<br>
<div class="container" id="content">
    <p>Наша компания предлагает мебель всех типов для дома и офиса. У нас вы можете заказать не только готовую продукцию, но и заказать разработку оригинального дизайн-проекта любой сложности.</p>
    <p>Наш специалист приедет в удобное для вас время, сделает необходимые замеры, проконсультирует и подскажет как довести ваш дизайн до совершенства.</p>
    <p>Учитываем не только  предпочтения по дизайну, но и ваш бюджет. Качественные материалы, большая цветовая гамма и многочисленные комплектации по оптимальной цене в кратчайшие сроки.</p>


    <!-- Разработка дизайна мебели является сложным процессом.
От проектирования проведения работ зависит функциональность интерьера.
На конечный результат влияет множество факторов. 
При проектировании мебели учитываются индивидуальные предпочтения, вкусы. 
Можно сделать все самостоятельно.
Для удобства существует много полезных программ и помощников. 
Важно на начальном этапе тщательно продумать каждый элемент будущей конструкции.
Формирование индивидуальных проектов позволяет каждому человеку стать владельцем неповторимого и оригинального комплекта мебели -->


</div>
{% endblock main_content %}