{% extends 'todo/base/base.html' %}

{% block main_content %}
<div class="container p-2 p-sm-3 p-md-4 p-lg-5 bg-white-75 shadow-sm" id="content">

    <h4 class="text-primary">Результаты поиска по запросу: <span class="text-secondary">"{{ search_text }}"</span></h4>

    <hr>
    <div class="">
        {% for prj in page_obj %}
        <div class="card border-primary m-1">
            <div class="row">
                <div class="col-2">
                    <img src='{{ prj.thumbnail }}' class="img-fluid rounded-start" alt="..." height="100%">
                </div>
                <div class="col-8 col-card-body">
                    <small class="m-0">создан {{ prj.created_at }} изменён {{ prj.updated_at }}</small>
                    <a href="/post/{{prj.id}}">
                        <h5 class="card-title"><span class="badge bg-secondary me-2">{{prj.id}}</span>{{prj.title}}
                        <span class="badge bg-primary">{{prj.rating}}</span></h5>
                    </a>
                    <small>тэги: {{prj.tags}}</small>
                    <p class="card-text">{{prj.description }}</p>

                </div>
                <div class="col-2">
                    {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-warning text-white" href="/update/{{ prj.id }}">изменить</a>
                    <a class="btn btn-sm btn-danger text-white" href="/delete/{{ prj.id }}">удалить</a>
                    {% endif %}
                    <a class="btn btn-sm btn-primary text-white" href="/post/{{ prj.id }}">открыть</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    {% include 'todo/components/pagination.html' %}
</div>
{% endblock main_content %}