{% extends 'todo/footer.html' %}

{% block main_content %}
<div class="container" id="content">
    {{ sss }}
    <div class="">
        <h4 class="">Результаты поиска по запросу: "{{ aaa }}"
        </h4>

    </div>
    <hr>
    <div class="row row-cols-md-4">
        {% for prj in posts %}
        <a href="/post/{{prj.id}}" style="width: 100%;">
            <div class="col">
                <div class="card mb-4" style="  
                height: 10rem;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 110% auto;
                
                background-image: url('{{ prj.thumbnail }}')">

                    <div class="text-white p-1 card-footer" style="
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(120, 194, 173, .5);
                        ">
                        <p style="margin-block-end: 0em;">{{prj.title}}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {{ assa }}
    {% if user.is_authenticated %}

    <div>

        <a href="/create" class="btn btn-danger">Добавить пост</a>

    </div>
    {% endif%}
</div>
    {% endblock main_content %}