<!-- wwbb.ru - Сайт мебельного производства. -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Meta info -->
    <title>{{ project.title }} {{title}} </title>
    <meta name="description" content="{{ project.description }}"/>
    <meta name="keywords" content="купить мебель, мебель на заказ, производство мебели, корпусная мебель, фабрика мебели, шкаф, гардероб, кухня, корпусная мебель"/>
    
    {% include "todo/base/meta.html" %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Yandex.Metrika counter -->
    <script src="{% static 'js/yandexMetrika.js' %}"></script>
</head>

<body>
    {% include "todo/base/header.html" %}

    {% block main_content %}
    {% endblock main_content %}

    {% include "todo/base/footer.html" %}

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>