{% load static %}
<footer class="py-5 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <h5>Разделы</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/tag/шкаф" class="text-white nav-link p-0">Шкафы и гардеробы</a></li>
          <li class="nav-item mb-2"><a href="/tag/кухня" class="text-white nav-link p-0">Кухнная мебель</a></li>
          <li class="nav-item mb-2"><a href="/tag/ванная" class="text-white nav-link p-0">Мебель в ванную</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <h5>Контакты</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="text-white nav-link p-0" href="tel:+79257025995">+7 925 702-59-95</a>
          <li>
          <li class="nav-item mb-2"> <a class="text-white nav-link p-0" href="https://t.me/+79260480480" target="_blank">telegram</a></li>
          <li class="nav-item mb-2"> <a class="text-white nav-link p-0" href="https://wa.me/+79260480480?text=С сайта:" target="_blank">whatsapp</a></li>
          <li class="nav-item mb-2"> <a class="text-white nav-link p-0" href="mailto:i@wwbb.ru">i@wwbb.ru</a></li>
          <li class="nav-item mb-2"> <a class="text-white nav-link p-0" href="https://vk.com/wwbbru">wwbbru</a></li>
          <li class="nav-item mb-2"> <a class="text-white nav-link p-0" href="https://yandex.ru/maps/?from=mapframe&ll=38.102390%2C55.710080&source=mapframe&um=constructor%3A9bf1bdb9e6a499cb9625fbf7a2309dc9a6f3837f7ed27e45f9d8435e09cfb7a3&utm_source=mapframe&z=17" target="_blank">МО, ГО Балашиха, Полтевское шоссе, владение 4</a></li>
        </ul>
      </div>

      <div class="col-md-4 offset-md-1 mb-3">
        <form>
          <h5>Поиск</h5>
          <p>Воспользуйтесь поиском по сайту wwbb.ru</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <!-- SEARCH -->
            <form class="col-sm-3 m-1 nav-item d-flex" role="search" action="search" method="get">
              <input class="form-control me-2" type="search" placeholder="Поиск"  name="search"
                pattern="[A-Za-zА-Яа-яЁё0-9 \ ]*">
            </form>
          </div>
        </form>
      </div>
    </div>


    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2025 Мебеля, производство мебели.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a></li>
      </ul>
    </div>
  </div>
</footer>